# Database connection string
DATABASE_URL=postgresql://user:password@localhost:5432/draft_item_list

# NextAuth configuration
# Generate a secret with: openssl rand -base64 32
AUTH_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""


