@import "tailwindcss";

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --accent-color: #00008b; /* Dark Blue */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
